<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hedgehog" class="com.nc.edu.spring.Hedgehog">
        <property name="needles">
            <list>
              <ref bean="needle1"/>
              <ref bean="needle2"/>
            </list>
        </property>
        <property name="childrenNames">
            <set>
                <value>Vasya</value>
                <value>Petya</value>
                <value>Evdokiya</value>
                <value>Vasya</value>
            </set>
        </property>
        <property name="familyNames">
            <map>
                <entry key="father" value="Petr"/>
                <entry key="mother" value="Antonina"/>
                <entry key="brother" value="Anton"/>
            </map>
        </property>
    </bean>
<bean id="needle1" class="com.nc.edu.spring.Needle"/>
<bean id="needle2" class="com.nc.edu.spring.Needle"/>

</beans>